.header {
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
  background-color: $gray-darkest;
  & .container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-gap: 10px;
    justify-content: space-between;
  }
  &-left {
    @include flex(stretch);
    & .header-logo {
      @include flex(center);
    }
    & .header-logo img {
      height: 60px;
      flex-shrink: 0;
    }
    & .header-logo a {
      display: block;
      padding: 10px;
      padding-left: 0;
      font-family: $third-font;
      @include textGradient();
      font-size: 28px;
      font-weight: bold;
    }
  }
  &-center {
    @include flex(center, center);
    & form {
      min-width: 350px;
      width: 100%;
      height: inherit;
      display: flex;
      padding: 5px;
      border-radius: 100px;
      border: 1px solid $gray-dark;
      // border: 1px solid rgba($gray-light, 0.5);
    }
    & input {
      width: 100%;
      padding: 10px;
      background-color: transparent;
      -webkit-appearance: none;
      font-size: 16px;
      font-weight: lighter;
      color: $gray-lighter;
    }
    & button {
      padding: 10px 20px;
      color: $gray-light;
      flex-shrink: 0;
      border-radius: 100px;
      @include gradient($primary-color, $secondary-color, 0.9, 0.9);
    }
  }
  &-right {
    @include flex(center, flex-end);
    & .header-avatar {
      @include size(44px);
      border-radius: 50%;
      border: 1px solid $gray-light;
      padding: 1px;
      z-index: 20;
      flex-shrink: 0;
    }
    & .header-avatar > img {
      @include size(100%);
      flex-shrink: 0;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &-nav {
    // padding-top: 5px;
    & ul {
      @include flex(center);
      list-style: none;
    }
    & .item {
      padding: 8px;
      @include flex(center, center, column);
      position: relative;
      border-radius: 8px;
      margin-left: 8px;
    }
    & .item.show svg {
      color: $primary-color;
    }
    @media (hover: hover) {
      & .item:hover {
        background-color: rgba($gray-light, 0.2);
      }
      & .item:hover .tooltip-content {
        opacity: 1;
        visibility: visible;
      }
    }
    & .item-badge {
      @include size(24px);
      @include flex(center, center);
      position: absolute;
      right: 7px;
      top: 7px;
      transform: translate(50%, -50%);
      padding: 8px;
      border: 3px solid $gray-darkest;
      background-color: $primary-color;
      border-radius: 50%;
    }
  }
}
.dropdown {
  width: 100%;
  position: relative;
  color: $gray-lighter;
  &-select {
    padding-right: 10px;
    @include flex(center, flex-end);
    cursor: pointer;
    & span {
      margin: 0 5px;
      line-height: 1.4;
      font-weight: bold;
      font-family: $secondary-font;
      @include textGradient();
      @include textClamp(1);
      width: auto;
      max-width: 58%;
    }
    & .dropdown-caret {
      flex-shrink: 0;
      color: $secondary-color;
    }
  }
  &-icon {
    font-size: 22px;
  }
  &-list {
    width: 90%;
    margin-top: 25px;
    position: absolute;
    top: 100%;
    left: 10%;
    right: 0;
    padding: 10px;
    background-color: $gray-darkest;
    box-shadow: $box-shadow-01;
    display: none;
    z-index: 10;
    list-style: none;
    @include dropdownListIcon(25px, 10px);
    border-radius: 8px;
  }
  &:hover &-list {
    display: block;
  }
  &-item {
    padding: 10px;
    border-radius: 8px;
    background-color: $gray-darkest;
    border: 1px solid transparent;
    transition: all 0.25s linear;
    cursor: pointer;
  }
  &-text {
    @include flex(center, space-between);
  }
  &-item:not(:last-child) {
    margin-bottom: 10px;
    font-weight: bold;
  }
  @include itemTransform("both");
  &-item:last-child {
    border-radius: 0 0 8px 8px;
    border: none;
    border-top: 2px solid $gray-light;
    &:hover {
      color: $gray-light;
      opacity: 0.5;
      border: none;
      background-color: transparent;
      border-top: 2px solid $gray-light;
    }
  }
}
