.dashboard {
  &.container {
    display: grid;
    grid-template-columns: 230px 6fr;
    grid-gap: 0 20px;
  }
}
.profile {
  &-info {
    position: relative;
    width: 100%;
    box-shadow: $box-shadow-01;
    background-color: $gray-darkest;
    border-radius: 10px;
    margin-top: 20px;
  }
  &-image {
    height: 120px;
    position: relative;
    flex-shrink: 0;
  }
  &-image::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: $gray-darkest;
    border-radius: 100px 100px 0 0;
    border-top: 1px solid $primary-color;
    z-index: 10;
  }
  &-image img {
    @include size(100%);
    object-fit: cover;
  }
  &-wallpaper {
    border-radius: 10px 10px 0 0;
    @include size(100%);
    overflow: hidden;
    flex-shrink: 0;
  }
  &-avt {
    cursor: pointer;
    @include size(150px);
    border-radius: 50%;
    border: 1px solid rgba($primary-color, 0.8);
    padding: 4px;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 10;
    overflow: hidden;
  }
  &-avt > img {
    border-radius: 50%;
  }
  &-avt:hover .profile-edit{
      opacity: 1;
      visibility: visible;
  }
  &-edit {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    font-size: 28px;
    z-index: 10;
    cursor: pointer;
    width: 100%;
    height: 30%;
    padding: 10px 0;
    background-color: rgba($gray-darkest, 0.5);
    @include flex(center, center);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
  }
  &-edit:hover {
    color: $primary-color;
  }
  &-content {
    margin-top: 60px;
    @include flex(stretch, space-between, column);
    padding: 0 20px;
    padding-bottom: 20px;
    z-index: 10;
  }
  &-name {
    font-size: 36px;
    line-height: 1.4;
    font-weight: bold;
    font-family: $secondary-font;
    text-align: center;
    @include textGradient();
    @include textClamp(1);
  }
  &-email {
    text-align: center;
    font-size: 16px;
    @include textClamp(1);
    line-height: 1.4;
  }
  // &-role {
  //   font-size: 16px;
  //   @include flex(center);
  //   margin-bottom: 10px;
  //   & > span {
  //     text-transform: capitalize;
  //     @include dotSeparate("left");
  //   }
  // }
}
.nav {
  &-container {
    box-shadow: $box-shadow-01;
    background-color: $gray-darkest;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
  }
  &-title {
    margin-bottom: 20px;
    padding-left: 11px;
    @include flex(center);
    & > span {
      font-size: 18px;
      text-transform: capitalize;
      @include dotSeparate("left");
    }
    & .nav-icon {
      font-size: 24px;
    }
  }
  &-list {
    list-style: none;
    // max-height: 30vh;
    // overflow-y: scroll;
    // @include customScroll($primary-color, $gray);
  }
  &-item {
    padding: 10px;
    border-radius: 8px;
    background-color: $gray;
    border: 1px solid transparent;
    transition: all 0.25s linear;
    cursor: pointer;
    & a {
      @include flex(center, space-between);
    }
  }
  &-icon {
    font-size: 22px;
  }
  &-item:not(:last-child) {
    margin-bottom: 20px;
  }
  @include itemTransform("both");
}
.total {
  &-list{
    --f-columns: 3;
    --f-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    color: $gray-lighter;
    margin-top: 10px;
    margin-left: calc(-1 * var(--f-gap));
    margin-bottom: calc(-1 * var(--f-gap));
  }
  &-item  {
    margin-left: var(--f-gap);
    margin-bottom: var(--f-gap);
    // width: calc((100% / var(--f-columns) - var(--f-gap)));
    padding: 5px;
    border-radius: 10px;
    @include flex(center, space-between);
  }
  &-item span {
    font-size: 14px;
    @include dotSeparate("left", currentColor);
  }
  @include itemTransform("none", 0.2);
}
