.password {
  &-container {
    box-shadow: $box-shadow-01;
    background-color: $gray-darkest;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    & .form-title,
    .text-loader {
      margin-top: 20px;
      margin-bottom: 40px;
      @include flex(center);
      font-size: 24px;
      & > span {
        @include dotSeparate("left");
      }
    }
    & .btn {
      margin-top: 20px;
    }
  }
}
