.form {
  @include flex(stretch, center, column);
  &-title {
    margin: 50px auto;
  }
  &-group {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 100%;
    & label {
      display: inline-block;
      color: $gray-light;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
      margin-bottom: 5px;
      width: 100%;
    }
    & input {
      background-color: transparent;
      padding: 10px 0;
      display: block;
      width: 100%;
      color: $gray;
      border-bottom: 2px solid $primary-color;
      color: $gray-lighter;
    }
    & input:disabled {
      color: $gray-light;
    }
    & input:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
}
.form-container {
  @include flex(stretch, center, column);
  margin: 0 auto;
  max-width: 600px;
  padding: 0 20px;
  & .text-loader {
    margin: 50px auto;
  }
  & .text-forgot {
    display: block;
    color: $primary-color;
    margin-top: 30px;
    margin-left: auto;
  }
  & .btn {
    margin: 25px auto;
    margin-bottom: 0;
    width: 100%;
    font-family: $primary-font;
  }
  & .btn-google {
    border-radius: 100px;
  }
}
