$primary-font: "Roboto", sans-serif;
$secondary-font: "Charm", cursive;
$third-font: "Kaushan Script", cursive;

$gray: #252936;
$gray-dark: #2b3139;
$gray-darker: #222831;
$gray-darkest: #1e242e;

$gray-light: #dee2e6;
$gray-lighter: #f8f9fa;

// $primary-color: #7b22ff;
// $secondary-color: #37ccff;
$primary-color: #f56766;
$secondary-color: #f58826;
$third-color: #ffd651;